<ul class="listeStories">
        <% for (var i = 0; i < defis.userstories.length ; i++) { %>
          <li>
           <%= defis[i] %>
          </li>
          <h5><%= defis.userstoriestitre %> </h5>
        <%  }; %>

</ul>