      <article class="sidebar">
        <h3 class="sidebar-title">Les réponses</h3>
        <p>Le résultat des différentes 'API' de cette page se présentent sous la forme de fichiers au format .json. En testant la fonctionnalité de mes solutions, vous pourrez voir ces fichiers s'afficher ci-dessous.</p>
        <h5>Pour tester, suivre les liens :</h5>
        <ul>
          <li><a href="https://emg-py--projetsapi.glitch.me/defis/timestamp/1234567890" alt="lien de test 1234567890">defis/timestamp/1234567890</a></li>
          <li><a href="https://emg-py--projetsapi.glitch.me/defis/timestamp/13 novembre 2017" alt="lien de test 13 novembre 2017">defis/timestamp/13 novembre 2017</a></li>
          <li><a href="https://emg-py--projetsapi.glitch.me/defis/timestamp/November 13, 2017" alt="lien de test November 13, 2017">defis/timestamp/November 13, 2017</a></li>
          <li><a href="https://emg-py--projetsapi.glitch.me/defis/timestamp/une chaîne en erreur" alt="lien de test 'une chaîne en erreur'">defis/timestamp/une chaîne en erreur</a></li>
        </ul>
        <div class="resultats">
          <samp>
            <%= pageApi %>
          </samp>
        </div>
      </article><!-- article -->