<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title><%= siteTitle %>--<%= pageTitle %></title>
	<meta name="description" content="un exercice du programme freeCodeCamp">
	<meta name="author" content="py">
	<!-- favicon.ico 16x16px in the icons folder -->
	<link rel="shortcut icon" href="/images/misc/icones/favicon.ico" type="image/x-icon">
	<!-- the code for all sorts of modern icons, to save in an img or icon folder :
	     third-generation iPad with high-resolution Retina display: -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/misc/icones/favicon144.png">
	<!-- iPhone with high-resolution Retina display: -->
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/misc/icones/favicon114.png">
	<!-- first- and second-generation iPad: -->
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/misc/icones/favicon72.png">
	<!-- non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
	<link rel="apple-touch-icon-precomposed" href="/images/misc/icones/favicon57.png">
	<!-- basic favicon -->
	<link rel="shortcut icon" href="/images/misc/icones/favicon32.png">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<link rel='stylesheet' href='/css/style.css' />